<!DOCTYPE html>
<html>
<head>

<title>Mpas - Projeto</title>
<meta charset="utf-8">
<link href="/stylesheets/Index.css" rel="stylesheet"> 
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
  body{
    z-index: -1;
    background-color: black;
  }
</style>
</head>
<body>
<div class = "topnav">
  <ul class = "cabecalho">
    <li class = "lista"><a href = "/" class="active" style="padding:0px;"><img src="/images/logo.jpeg" style="width: 150px; height: 85px;"></a></li>
    <li class = "lista"><a href="#contact">Contact</a></li>
    <li class = "lista"><a href="#about">About</a></li>

    <!--Atividades-->
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Atividades</a>
        <div class="dropdown-content">

            <!-- <a href="#">-->
              <div class="w3-container">
                <button onclick="document.getElementById('id06').style.display='block'" class="w3-button">Nova Atividade</button>

                <div id="id06" class="w3-modal">
                  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                    <div class="w3-center"><br>
                      <span onclick="document.getElementById('id06').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                      <img src="logo.jpeg" alt="MPas" style="width:30%" class="w3-circle w3-margin-top">
                    </div>

                    <form class="w3-container" method = "post" action="/projeto/<%=id%>/criarAtividade">
                      <div class="w3-section">
                        <label><b>Titulo da Atividade</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Título da Atividade" name="titulo" autocomplete="off" required>
                        <label><b>Descricao</b></label>
                        <input class="w3-input w3-border" type="Text" placeholder="Insira o Texto" name="descricao" autocomplete="off" required>
                        <br/>
                        <label><b>Previsão de Término</b></label>
                        <input class="w3-input w3-border" type="date" placeholder="Insira a Data" name="dataFim" autocomplete="off" required>
                        <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Criar</button>
                      </div>
                    </form>

                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                      <button onclick="document.getElementById('id06').style.display='none'" type="button" class="w3-button w3-red">Cancelar</button>
                    </div>

                  </div>
                </div>
              </div>
           <!-- </a>-->

           <!--<a href="#">-->
              <div class="w3-container">
                <button onclick="document.getElementById('id07').style.display='block'" class="w3-button">Deletar Atividade</button>

                <div id="id07" class="w3-modal">
                  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                    <div class="w3-center"><br>
                      <span onclick="document.getElementById('id07').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                      <img src="logo.jpeg" alt="MPas" style="width:30%" class="w3-circle w3-margin-top">
                    </div>

                    <form class="w3-container" method = "post" action="/projeto/<%=id%>/deletarAtividade">
                      <div class="w3-section">
                        <label><b>Identificador</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Insira o identificador da tarefa" name="id" autocomplete="off" required>
                        <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Deletar</button>
                      </div>
                    </form>

                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                      <button onclick="document.getElementById('id07').style.display='none'" type="button" class="w3-button w3-red">Cancelar</button>
                    </div>

                  </div>
                </div>
              </div>
           <!-- </a>-->

           <!--<a href="#">-->
              <div class="w3-container">
                <button onclick="document.getElementById('id08').style.display='block'" class="w3-button">Editar Atividade</button> <!-- Funcionaldade -->

                <div id="id08" class="w3-modal">
                  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                    <div class="w3-center"><br>
                      <span onclick="document.getElementById('id08').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                      <img src="logo.jpeg" alt="MPas" style="width:30%" class="w3-circle w3-margin-top">
                    </div>

                    <form class="w3-container" method = "post" action="/projeto/<%=id%>/alterarAtividade">
                      <div class="w3-section">
                        <label><b>Identificador</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Insira o Identificador" name="id" autocomplete="off" required>
                        <label><b>Título</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Insira o Título" name="titulo" autocomplete="off" required>
                        <label><b>Descrição</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Insira a Dercrição" name="descricao" autocomplete="off" required>
                        <label><b>Data de Término</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" type="date" placeholder="Insira a Data" name="DataFim" autocomplete="off" required>
                        <label><b>Data de Inicio</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" type="date" placeholder="Insira a Data" name="DataInicio" autocomplete="off" required>

                        <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Confirmar</button>
                      </div>
                    </form>

                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                      <button onclick="document.getElementById('id08').style.display='none'" type="button" class="w3-button w3-red">Cancelar</button>
                    </div>

                  </div>
                </div>
              </div>
           <!-- </a>-->

           <!--<a href="#">-->
              <div class="w3-container"> <!-- Funcionalidades   -->
                <button onclick="document.getElementById('id09').style.display='block'" class="w3-button">Inserir Usuario</button>

                <div id="id09" class="w3-modal">
                  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                    <div class="w3-center"><br>
                      <span onclick="document.getElementById('id09').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                      <img src="logo.jpeg" alt="MPas" style="width:30%" class="w3-circle w3-margin-top">
                    </div>

                    <form class="w3-container" action="/action_page.php">
                      <div class="w3-section">
                        <label><b>Login</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Insira o Login" name="Login" autocomplete="off" required>
                        <label><b>Atividade</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Selecione a Atividade" name="Atividade" autocomplete="off" required>

                        <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Inserir</button>
                      </div>
                    </form>

                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                      <button onclick="document.getElementById('id09').style.display='none'" type="button" class="w3-button w3-red">Cancelar</button>
                    </div>

                  </div>
                </div>
              </div>
           <!-- </a>-->

           <!--<a href="#">-->
              <div class="w3-container">
                <button onclick="document.getElementById('id10').style.display='block'" class="w3-button">Remover Usuario</button>

                <div id="id10" class="w3-modal">
                  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                    <div class="w3-center"><br>
                      <span onclick="document.getElementById('id10').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                      <img src="logo.jpeg" alt="MPas" style="width:30%" class="w3-circle w3-margin-top">
                    </div>

                    <form class="w3-container" action="/action_page.php">
                      <div class="w3-section">
                        <label><b>Login</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Insira o Login do Usuário" name="Login" autocomplete="off" required>
                        <label><b>Atividade</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Insira a Atividade" name="Atividade" autocomplete="off" required>
                        <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Remover</button>
                      </div>
                    </form>

                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                      <button onclick="document.getElementById('id10').style.display='none'" type="button" class="w3-button w3-red">Cancelar</button>
                    </div>

                  </div>
                </div>
              </div>
           <!-- </a>-->

        </div><!--Atividades-->
    </li>
    <!-- Meus Projetos -->

    <!-- Tela Usuario -->
    <li class="dropdown" style="float:right">
      <a href="javascript:void(0)" class="dropbtn"><%=nome%></a>
      <div class="dropdown-content right">

         <!-- <a href="#">-->
              <div class="w3-container" style="margin-right:0px">
                <button onclick="document.getElementById('id33').style.display='block'" class="w3-button">Excluir Conta</button>

                <div id="id33" class="w3-modal">
                  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                    <div class="w3-center"><br>
                      <span onclick="document.getElementById('id33').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                      <img src="logo.jpeg" alt="MPas" style="width:30%" class="w3-circle w3-margin-top">
                    </div>

                    <form class="w3-container" method = "post" action="/excluir">
                      <div class="w3-section">
                        <label><b>login</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Título da Atividade" name="loginExcluir" autocomplete="off" required>
                        <label><b>senha</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" type="password" placeholder="Título da Atividade" name="senhaExcluir" autocomplete="off" required>
                        <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Excluir</button>
                      </div>
                    </form>

                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                      <button onclick="document.getElementById('id33').style.display='none'" type="button" class="w3-button w3-red">Cancelar</button>
                    </div>

                  </div>
                </div>
              </div>
           <!-- </a>-->

            <!-- <a href="#">-->
              <div class="w3-container" style="margin-right:0px">
                <button onclick="document.getElementById('id34').style.display='block'" class="w3-button">Alterar Conta</button>

                <div id="id34" class="w3-modal">
                  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                    <div class="w3-center"><br>
                      <span onclick="document.getElementById('id34').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                      <img src="logo.jpeg" alt="MPas" style="width:30%" class="w3-circle w3-margin-top">
                    </div>

                    <form class="w3-container" method = "post" action="/alterar">
                      <div class="w3-section">
                        <label><b>login</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" value = "<%=login%>" type="text" placeholder="Título da Atividade" name="loginAlterar" autocomplete="off" required>
                        <label><b>nome</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" value = "<%=nome%>" type="text" placeholder="Título da Atividade" name="nomeAlterar" autocomplete="off" required>
                        <label><b>senha</b></label>
                        <input class="w3-input w3-border w3-margin-bottom" value = "<%=senha%>" type="password" placeholder="Título da Atividade" name="senhaAlterar" autocomplete="off" required>
                        <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Alterar</button>
                      </div>
                    </form>

                    <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                      <button onclick="document.getElementById('id34').style.display='none'" type="button" class="w3-button w3-red">Cancelar</button>
                    </div>

                  </div>
                </div>
              </div>
           <!-- </a>-->

           <!-- <a href="#">-->
            <div class="w3-container" style="margin-right:0px ">
              <button onclick="document.getElementById('id35').style.display='block'" class="w3-button">Perfil</button>

              <div id="id35" class="w3-modal">
                <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                  <div class="w3-center"><br>
                    <span onclick="document.getElementById('id35').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                    <img src="logo.jpeg" alt="MPas" style="width:30%" class="w3-circle w3-margin-top">
                  </div>

                  <div class="w3-container" >
                    <div class="w3-section">
                      <div>
                        <label><b>Login</b></label>
                        <input  class="w3-input w3-border w3-margin-bottom" value = "<%=login%>" type = "text" disabled/>
                      </div>

                       <div>
                        <label><b>Nome</b></label>
                        <input  class="w3-input w3-border w3-margin-bottom" value = "<%=nome%>" type = "text" disabled/>
                      </div>

                       <div>
                        <label><b>Telefone</b></label>
                        <input  class="w3-input w3-border w3-margin-bottom" value = "<%=telefone%>" type = "text" disabled/>
                      </div>
                       <div>
                        <label><b>Email</b></label>
                        <input  class="w3-input w3-border w3-margin-bottom" value = "<%=email%>" type = "text" disabled/>
                      </div>
                    </div>
                  </div>

                  <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                    <button onclick="document.getElementById('id35').style.display='none'" type="button" class="w3-button w3-red">Cancelar</button>
                  </div>

                </div>
              </div>
            </div>
         <!-- </a>-->
          <div class="w3-container" style="margin-right:0px"><a href = "/sair">Log Out</a></div>

      </div>
    </li>
  </ul>
</div>


<!--Criacao dos Atividades-->

    <div style = "color: white; float:center;">
    <h1>Minhas Atividades</h1>
    </div>

    <% atividades.forEach(function(atividade) { %>
      <button class="accordion">
        Id: <%=atividade.id_atividade%> | 
        Titulo: <%=atividade.titulo%>
        <p style = "float: right;">Data criacao:
      <%=atividade.data_criacao.getDate() +  "/" + (atividade.data_criacao.getMonth()+1) + "/" + atividade.data_criacao.getFullYear() %> | Data Inicio: 
      <%if(atividade.data_inicio != null) {%>
        <%=atividade.data_inicio.getDate() +  "/" + (atividade.data_inicio.getMonth()+1) + "/" + atividade.data_inicio.getFullYear() %>
      <%}else{%>
        atividade nao iniciada
      <%}%>
       | Data Termino: <%=atividade.data_fim.getDate() +  "/" + (atividade.data_fim.getMonth()+1) + "/" + atividade.data_fim.getFullYear() %>
      </p>
      </button>
      <div class="panel">
        <p>
          <%=atividade.descricao%>
        </p>
      </div>
    <%});%>


<script>
function myFunction(id) {
    var x = document.getElementById(id);
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
}
</script>

</body>
</html>
